<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/SocketConfig.js"></script>

</head>
<body>
<button onclick="connect()">Connect</button>
<form onsubmit="event.preventDefault(); sendMessage()">

    <button type="submit"> Send</button>
</form>
<table>
    <thead>
    <tr>
        <th>Message</th>
    </tr>
    </thead>
    <tbody id="messages"></tbody>
</table>
</body>
</html>